h1, .Dashboard h2 {
    font-family: Orbitron;
    font-weight: 500;
}

.Dashboard .demo-app {
    margin-top: 10px;
}

.Dashboar .fc {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.Dashboard .fc-button-primary {
    background-color: purple;
    border-color: purple;
}

.Dashboard .fc-button-active {
    background-color: rgb(100, 2, 100) !important;
    border-color: rgb(100, 2, 100) !important;
}

.Dashboard .fc-button:hover {
    background-color: rgb(100, 2, 100);
    border-color: rgb(100, 2, 100);
}

.Dashboard .fc-button-primary:disabled {
    background-color: purple !important;
    border-color: purple !important;
}

@media screen and (max-width: 915px) {
    .Dashboard .fc-toolbar {
        display: block;
        margin: 0 auto;
    }

    .Dashboard .fc-left, .Dashboard .fc-center, .Dashboard .fc-right {
        margin: 10px 0;
    }

    .Dashboard .fc {
        text-align: center
    }
}